@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.container {
    background-color: coral;
    min-height: 500px;
}

header>h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}